<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Corezine</title>
    <link rel="stylesheet" href="~/lib/bulma/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/bulma/bulma-helpers.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                    <a class="navbar-item" asp-area="Frontend" asp-controller="Home" asp-action="Index">
                        <img src="~/images/corezine-logo-200x200.png" alt="Corezine Site"/>
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="Menu" aria-expanded="false" data-target="navbar-main-menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <!-- Menu -->
                <div id="navbar-main-menu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">Home</a>
                    </div>
                    <div class="navbar-end">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-area="Frontend" asp-controller="Account" asp-action="SignIn" class="navbar-item">Login</a>
                            <a asp-area="Frontend" asp-controller="Account" asp-action="Register" class="navbar-item">Register</a>
                        }
                        else
                        {
                            <span class="navbar-item">Welcome, @User.Identity.Name</span>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="navbar-item">Dashboard</a>
                            }
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a asp-area="Frontend" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path" class="button is-danger">Logout</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer has-padding-20 is-fixed-bottom">
        <div class="content has-text-centered">
            &copy; 2020 - Corezine.Site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
